@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --champagne-pink: #f2dfd7ff;
    --ghost-white: #fef9ffff;
    --thistle: #d4c1ecff;
    --tropical-indigo: #9f9fedff;
    --medium-slate-blue: #736cedff;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: "Lexend Deca";
  color: white;
}

.container{
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  width: 90%;
  margin: 10rem auto 0;
  background-color: var(--medium-slate-blue);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.headWeather{
    text-align: center;
}

.headWeather h1{
    font-size: 2.5rem;
}
.iconWeather{
    filter: drop-shadow(0px 3px 8px rgba(36, 36, 36, 0.24))}

.iconWeather img{
    scale: 1.2;
}
.temperature{
    font-size: clamp(3rem, 2.5789rem + 2.1053vw, 4rem);
}

.detailsWeather{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.detailsWeather img{
    max-width: 3rem;
    filter: drop-shadow(0px 3px 8px rgba(36, 36, 36, 0.24));
}

.infoWeather{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: var(--tropical-indigo);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    justify-content: center;
}

.input{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;
    width: 90%;
    max-width: 30rem;
    margin: 2rem auto;
}

.input input{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-family: "Lexend Deca";
    font-size: 1rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.input input:focus{
    outline: none;
}

.input button{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-family: "Lexend Deca";
    font-size: 1rem;
    background-color: var(--tropical-indigo);
    color: var(--ghost-white);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.input button:hover{
    transform: scale(1.05);
    transition: 0.08s ease-in-out;
    background-color: var(--medium-slate-blue);
}
